# Depends
py-linq
pypandoc

# Used for examples
scons

# Linting
pep8
pycodestyle
pylint
flake8
coverage

# Testing
# 5.0.1 required for vscode compatibility - https://github.com/microsoft/vscode-python/issues/6990
pytest<=5.0.1
pytest-cov
pytest-codestyle
pytest-colordots
pytest-runner
pyflakes

# Documentation
sphinx
recommonmark
sphinx-markdown-tables
sphinx-autobuild
sphinx-issues
breathe
ghp-import
doxypypy
git+https://github.com/Hecatron-Forks/sphinxbootstrap4theme
