recursive-include py_makefile_dbparse *.ico *.js *.css *.png *.html *.eot *.svg *.ttf *.woff
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.py.j2
recursive-exclude * sconscript.py
